
mixin button(text, link, icon)
	if icon
		a.button(href=link)
			| #{text}
			i(class="fas " + icon) 
	else
		a.button(href=link) #{text}

mixin button--normal(text, link, icon)
	- iconClass = icon || ''
	a.button.button--normal(href=link)
		|#{text}
		i(class="fas " + iconClass)



//- mixin button--normal(text, link, icon)
//- 	if icon
//- 		a.button.button--normal(href=link)
//- 			i(class="fas" + icon) #{text}

//- 	else
//- 		a.button.button--normal(href=link) #{text}

mixin button--detailed(text, link, icon)
	if icon
		a.button.button--detailed(href=link)
			i(class="fas" + icon) #{text}
	else
		a.button.button--detailed(href=link) #{text}

mixin button--edit(text, link, icon)
	if icon
		a.button.button--edit(href=link)
			i(class="fas" + icon) #{text}
	else
		a.button.button--edit(href=link) #{text}

mixin button--remove(text, link, icon)
	if icon
		a.button.button--remove(href=link)
			i(class="fas" + icon) #{text}
	else
		a.button.button--remove(href=link) #{text}

mixin button--save(text, link, icon)
	if icon
		a.button.button--save(href=link)
			i(class="fas" + icon) #{text}
	else
		a.button.button--save(href=link) #{text}

mixin button--enter(text, link, icon)
	if icon
		a.button.button--enter(href=link)
			i(class="fas" + icon) #{text}
	else
		a.button.button--enter(href=link) #{text}


mixin button--profile(text, link, icon)
	if icon
		a.button.button--profile(href=link)
			i(class="fas" + icon) #{text}
	else
		a.button.button--profile(href=link) #{text}

//Small Button

mixin buttonSmall--edit(text, link, icon)
	if icon
		a.button.buttonSmall.buttonSmall--edit(href=link)
			i(class="fas" + icon) #{text}
	else
		a.button.buttonSmall.buttonSmall--edit(href=link) #{text}

mixin buttonSmall--remove(text, link, icon)
	if icon
		a.button.buttonSmall.buttonSmall--remove(href=link)
			i(class="fas" + icon) #{text}
	else
		a.button.buttonSmall.buttonSmall--remove(href=link) #{text}

mixin buttonSmall--save(text, link, icon)
	if icon
		a.button.buttonSmall.buttonSmall--save(href=link)
			i(class="fas" + icon) #{text}
	else
		a.button.buttonSmall.buttonSmall--save(href=link) #{text}

mixin buttonSmall--detailed(text, link, icon)
	if icon
		a.button.buttonSmall.buttonSmall--detailed(href=link)
			i(class="fas" + icon) #{text}
	else
		a.button.buttonSmall.buttonSmall--detailed(href=link) #{text}















//- if icon
//- 	a.button.button--regular(href=link)
//- 		i(class="fas" + iconClass)
//- 		|#{text}
//- else
//- 	a.button.button--regular(href=link)
//- 		|#{text}