
// Mixin Buttons
mixin button(text, link, icon)
	if icon
		a.button.button-regular(href=link)
			|#{text}
			i(class="fas " + icon)
	else 
		a.button.button-regular(href=link)
			|#{text}

mixin buttonMore(text, link, small)
	if small
		a.button.button-more(href=link, class=small) #{text}
	else
		a.button.button-more(href=link) #{text}
		
mixin buttonEdit(text, link, small)
	if small
		a.button.button-edit(href=link, class=small) #{text}
		
	else
		a.button.button-edit(href=link) #{text}

mixin buttonRemove(text, link, small)
	if small
		a.button.button-remove(href=link, class=small) #{text}
	else
		a.button.button-remove(href=link) #{text}

mixin buttonSave(text, link, small)
	if small
		a.button.button-save(href=link, class=small) #{text}
	else
		a.button.button-save(href=link) #{text}

mixin buttonEnter(text, link, icon)
	if icon
		a.button.button-enter(href=link)
			i(class="fas" + icon) #{text}
	else
		a.button.button-enter(href=link) #{text}

mixin buttonProfile(text, link, icon)
	if icon
		a.button.button-profile(href=link)
			i(class="fas" + icon) #{text}
	else
		a.button.button-profile(href=link) #{text}

//Mixin Button Input
mixin buttonSubmit(text, name, type)
	if type == "edit"
		input.button(type="submit", name=name, class="button-edit", value=text)&attributes(attributes)
	else if type == "remove"
		input.button(type="submit", name=name, class="button-remove", value=text)&attributes(attributes)
	else if type == "save"
		input.button(type="submit", name=name, class="button-save", value=text)&attributes(attributes)
	else if type == "enter"
		input.button(type="submit", name=name, class="button-enter", value=text)&attributes(attributes)
	else if type == "profile"
		input.button(type="submit", name=name, class="button-profile", value=text)&attributes(attributes)
	else if type == "more"
		input.button(type="submit", name=name, class="button-more", value=text)&attributes(attributes)
	else
		input.button(type="submit", name=name, value=text)&attributes(attributes)