mixin input(name,type,placeholder,labelText)
	label.label-class #{labelText}
		if placeholder
			input.input.placeholder(type=type name=name placeholder=placeholder)
		else
			input.input(type="text" name=name)