//- Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.

mixin link(text, url)
    a(href=url class="link")&attributes(attributes) #{text}

mixin postLink(text, link)
    a(href=link)&attributes(attributes) #{text}

mixin blogImg(img,alt)
    - altText = alt || ''
    img(src="../../img/blog/" + img, alt=altText)

mixin workImg(img,alt)
    - altText = alt || ''
    img(src="../../img/works/" + img, alt=altText)