mixin textarea(name,placeholder,areaText,labelText)
	label.label-class #{labelText}
		if placeholder
			textarea.textarea.placeholder(name=name placeholder=placeholder) #{areaText}
		else
			textarea.textarea(name=name) #{areaText}
