mixin textarea(name,placeholder,areaText,id,labelText)
	- id = id || ""
	label.label(for=id) #{labelText}
	textarea.textarea(name=name id=id placeholder=placeholder)&attributes(attributes) #{areaText}

