extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Нотификации - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.pt-35
			h1 Нотификации
			
			.section-ui

				h2.mt-30.mb-20 Простая нотификация

				+notification('Информация обновлена')
				
				h2.mt-30.mb-20 Нотификация успех

				+notification('Запись создана успешно', 'success')

				h2.mt-30.mb-20 Нотификация ошибка

				+notification('Комментаприй не может быть пустым', 'error')

				.mb-20

				+notification('Данный email уже занят', 'error')
					p.
						Используйте другой email чтобы создать новый аккаунт.
					p.
						Или воспользуйтесь #[a(href="#") восстановлением пароля], чтобы войти на сайт.
			pre.
				+notification('', 'Информация обновлена')

				+notification('Запись создана успешно', 'success')

				+notification('Комментаприй не может быть пустым', 'error')

				+notification('Данный email уже занят', 'error')
					p.
						Используйте другой email чтобы создать новый аккаунт.
					p.
						Или воспользуйтесь #[a(href="#") восстановлением пароля], чтобы войти на сайт.
				
			.title mixins/_notifications.pug
			pre.
				mixin notification(title, type)
					if type == 'success'
						.notification.notification--success
							.notification__title #{'#{title}'}
							if block
								.notification__description
									block
							else
									
					else if type == 'error'
						.notification.notification--error
							.notification__title #{'#{title}'}
							if block
								.notification__description
									block
							else
								
					else
						.notification
							.notification__title #{'#{title}'}
							